[submodule "src/3rdparty/spdlog"]
	path = src/3rdparty/spdlog
	url = https://gitee.com/czyt1988/spdlog.git
[submodule "src/3rdparty/ADS"]
	path = src/3rdparty/ADS
	url = https://gitee.com/czyt1988/Qt-Advanced-Docking-System.git
[submodule "src/3rdparty/SARibbon"]
	path = src/3rdparty/SARibbon
	url = https://gitee.com/czyt1988/SARibbon.git
[submodule "src/3rdparty/pybind11"]
	path = src/3rdparty/pybind11
	url = https://gitee.com/czyt1988/pybind11.git
[submodule "src/3rdparty/QtPropertyBrowser"]
	path = src/3rdparty/QtPropertyBrowser
	url = https://gitee.com/czyt1988/QtPropertyBrowser.git
[submodule "src/3rdparty/qwt"]
	path = src/3rdparty/qwt
	url = https://gitee.com/czyt1988/QWT.git
[submodule "src/3rdparty/ordered-map"]
	path = src/3rdparty/ordered-map
	url = https://gitee.com/czyt1988/ordered-map.git
[submodule "src/3rdparty/quazip"]
	path = src/3rdparty/quazip
	url = https://gitee.com/czyt1988/quazip.git
[submodule "src/3rdparty/zlib"]
	path = src/3rdparty/zlib
	url = https://gitee.com/czyt1988/zlib
