[submodule "src/3rdparty/SARibbon"]
	path = src/3rdparty/SARibbon
	url = https://github.com/czyt1988/SARibbon.git
[submodule "src/3rdparty/pybind11"]
	path = src/3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
